// Specific CSS for your home-page

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#video-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  video {
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
  }
}

#video-container .overlay {
  background: black;
  height: 100vh;
  opacity: 0.6;
  text-align: center;
  margin: 0%;
}

#logo {
  position: absolute;
}

.concept {
  margin-top: 70px;

  h2 {
    color: $red;
    font-weight: 600;
    font-size: 60px;
    line-height: 30px;
    width: 400px;
    margin: 50px 0;
    padding-left: 10px;
    letter-spacing: 6px;
    text-decoration: none;
    box-shadow: inset 0 -20px 0 rgba(344, 72, 94, 0.002), inset 0 -14px 0 rgba(202, 52, 34, 0.2);
  }

  h4 {
    color: $pink;
    font-size: 40px;
    line-height: 25px;
    width: 408px;
    padding-left: 5px;
    letter-spacing: 4px;
    text-decoration: none;
    box-shadow: inset 0 -25px 0 rgba(344, 72, 94, 0.002), inset 0 -5px 0 rgba(202, 52, 34, 0.2);
  }

  #model {
    width: 252px !important;
  }

  #photografer {
    width: 338px !important;
  }

  #stylist {
    width: 220px !important;
  }

  p {
    color: $black;
    //color: rbga(210, 50, 13, 0.85) !important;
    font-size: 25px;
    line-height: 60px;
    padding: 5px;
  }
}

.model {
  width: 100%;
  max-width: 1440px;
  height: 25%;
  margin: 0 auto;
  padding: 50px;
}

.model-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.model-img {
  float: left;
  padding: 65px 0;
  width: 33%;
  height: 700px;
  max-height: 700px;
  overflow: hidden;
  background-image: url('https://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_300/v1515873373/model_rgffdd.png');
  background-size: cover;
  background-position: center;
}
.photografer-img {
  float: left;
  padding: 65px 0;
  width: 33%;
  height: 700px;
  max-height: 700px;
  overflow: hidden;
  background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1515873351/photografer_lbhyys.png');
  background-size: cover;
  background-position: center;
}
.beauty_artist-img {
  float: left;
  padding: 65px 0;
  width: 33%;
  height: 700px;
  max-height: 700px;
  overflow: hidden;
  background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1515873360/beauty_artist_oi1pk6.png');
  background-size: cover;
  background-position: center;
}
.stylist-img {
  float: left;
  padding: 65px 0;
  width: 33%;
  height: 700px;
  max-height: 700px;
  // overflow: hidden;
  background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1515873367/stylist_lndk1b.png');
  background-size: cover;
  background-position: center;
}

// CONCIERGE CSS
.concierge {
  height: 100%;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  .title {
    position: absolute;
    top: 25%;
    right: 37%;
    h2 {
      color: $red;
      font-weight: 600;
      font-size: 60px;
      line-height: 30px;
      width: 400px;
      padding-left: 10px;
      letter-spacing: 6px;
      text-decoration: none;
      box-shadow: inset 0 -20px 0 rgba(344, 72, 94, 0.002), inset 0 -14px 0 rgba(202, 52, 34, 0.2);
    }
  }
  .description {
    position: absolute;
    top: 40%;
    right: 23%;
    p {
      color: $black;
      //color: rbga(210, 50, 13, 0.85) !important;
      font-size: 25px;
      line-height: 60px;
      padding: 5px;
    }
  }
}
