<div class="navbar hide" id="nav">
    <img src="http://res.cloudinary.com/mbentivoglio/image/upload/c_crop,g_xy_center,h_252,w_1400,x_1493,y_1100/v1513604503/Castly_Logosemfundo-04_1_yxju10.png" alt="logo">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

