<div id="video-container">
  <div class="overlay">
    <video autoplay loop>
      <source src="http://res.cloudinary.com/mbentivoglio/video/upload/v1513607213/ezgif-4-892569d141_muxhkj.mp4"/>
    </video>
  </div>
  <div id="logo"><img src="http://res.cloudinary.com/mbentivoglio/image/upload/c_crop,g_center,h_400,w_1410,x_0,y_70/v1513604503/Castly_Logosemfundo-04_1_yxju10.png" alt="logo">
  </div>

</div>

<div class="landing-content">
  <div class="container">
    <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
      <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
      <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
      <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
      <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
      <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
      <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
    <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>  <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>  <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>  <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>  <h1>New Concept Space</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam magnam quisquam, porro, molestiae a. Consequatur recusandae sequi, repellendus eos maiores, eligendi, in, laudantium iure repellat praesentium nesciunt. Similique, quaerat.</p>
  </div>

</div>
