<div class="" id="video-container">
  <div class="overlay">
    <video autoplay loop>
      <source src="http://res.cloudinary.com/mbentivoglio/video/upload/v1517599414/CASTLY_acot9w.mp4"/>
    </video>
  </div>
</div>

<div class="landing-content">
  <div class="container">
    <div class="concept">
      <h2>CONCEPT</h2>


      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img src="http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_500/v1516564046/model_s4rfiq.png" alt="Responsive image" class="image-responsive center-block">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="model-text">
            <p>Descubra e contrate...</p>
            <h4 id="model">MODELOS</h4>
            <p>de maneira rapida,</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="model-text">
            <h4 id="photografer">FOTOGRAFOS</h4>
            <p>sem burocracia,</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <img src="http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_500/v1516564375/photografer_x0sjkw.png" class="image-responsive center-block" alt="Responsive image">
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img src="http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_500/v1516564595/beauty_artist_w600du.png" class="image-responsive center-block" alt="Responsive image">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="model-text">
            <h4>BEAUTY ARTISTS</h4>
            <p>sem taxas abusivas,</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="model-text">
            <h4 id="stylist">STYLISTS</h4>
            <p>com quem valoriza os profissionais.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <img src="http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_500/v1516564593/stylist_lq96hn.png" class="image-responsive center-block" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>

<div class="banner-concierge" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1516561598/concierge1_tjgrpj.png');">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-6">
      <div class="banner-concierge-content">
        <h2>CONCIERGE</h2>
        <p>Oferecemos um serviço completo de produção de foto e vídeo com foco em moda e publicidade.</p>
<!--         <a class="btn btn-primary btn-lg">Start now</a> -->
      </div>

    </div>
  </div>
</div>

<div class="banner-concierge" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1516564337/concierge2_kkb8op.png');">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
      <div class="banner-concierge-content c2">
        <p>Auxiliamos em todas as etapas do projeto, desde a elaboração do conceito até o tratamento final.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner-concierge" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1516564337/concierge3_fua92a.png');">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
      <div class="banner-concierge-content">
        <p>Trabalhamos com os melhores artistas do momento.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner-concierge" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1516565623/concierge4_m7dsl2.png');">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
      <div class="banner-concierge-content">
        <p>Com soluções criativas o Castly Concierge transforma sua idéia em realidade.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="influence">
  <div class="influence-title">
    <h2>Influence</h2>
  </div>
  <div class="influence-description">
    <p>O que acha de ter um conteúdo incrível com aquele artista influencer dos seus sonhos e, ainda, gastar pouco?<br> Entre em contato e descubra o poder do Castly Influence. </p>
  </div>
  <div class="influence-form">
    <form class="form-inline">
      <p>Quer descobrir mais?</p>
      <div class="form-group">
        <input type="email" class="form-control input-form" id="exampleInputEmail2" placeholder="nathalia.nasralla@castly.com.br">
      </div>
      <button type="submit" class="btn btn-danger">ENVIAR</button>
    </form>
  </div>
  <div class="influence-iphonex" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_700/v1517083230/castly_influencer_t1qhuk.png');">
  </div>
</div>

<div class="clients">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-3 col-md-3">
        <h2>Nossos Clientes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1517594845/hope-logo_ncr3km.png');">
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_50/v1517594845/malwee-logo_kxefvc.png');">
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_50/v1517594845/embryolisse-logo_mru6np.png');">
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_100/v1517594845/gol-logo_icoct6.png');">
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_100/v1517594845/logo-PatBo_l71pkk.png');">
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/v1517594845/long-island-logo_lzjiig.png');">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-offset-4 col-md-4 text-center">
        <h4>Apoiadores</h4>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_100/v1517595046/sebrae-logo_l4ifxe.png');">
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="card" style="background-image: url('http://res.cloudinary.com/mbentivoglio/image/upload/c_scale,h_90/v1517595045/logospstars_yd6mh6.png');">
        </div>
      </div>
    </div>
</div>
</div>
  <div class="footer">
    <div class="footer-area">
      <div class="footer-links">
        <a href="https://www.instagram.com/castlyconcept/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/castlyconcept/"><i class="fa fa-facebook"></i></a>
        <a href="https://br.pinterest.com/castlyapp/"><i class="fa fa-pinterest"></i></a>
        <a href="https://www.linkedin.com/company/16169187/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="footer-contact">
        <p>castly@castly.com.br | +55 11 98689 8969</p>
      </div>
      <div class="footer-copyright">
        Todos os direitos reservados &copy; Castly 2018
      </div>
    </div>
  </div>

